body {
  background: #fff;
}

.set-pwd-step {
  width: 490px;
  margin: 20px auto;
}

.set-pwd-form {
  position:relative;
  width: 928px;
  height: 474px;
  padding:50px 0 50px 100px;
  margin: 0 auto;
  margin-bottom:70px;
  border: 1px solid #e4e4e4;
  &:before{
    content:'';
    position:absolute;
    top:-8px;
    left:236px;
    width:21px;
    height:8px;
    background:url('/images/partials/pay/arrow-up.png') no-repeat center;
  }
  .tips{
    width:658px;
    margin:0 auto;
    margin-bottom:18px;
    padding:16px 12px;
    border:1px solid #ffe5e5;
    background:#fff5f5;
    color:#333333;
    img{
      padding-right:12px;
      vertical-align:top;
    }
  }
  .form-group{
    font-size:14px;
  }
  .info{
    padding:4px 0;
    color:#999999;
    font-size:12px;
  }
}