.content-right{
  .panel-content{
    color:#333333;
    font-size:14px;
    .staff-table{
      width:100%;
      margin-top:10px;
      border:1px solid #ebebeb;
      border-bottom:0;
      background:#fff;
      table-layout:fixed;
      font-size:14px;
      th,td{
        height:44px;
        border-bottom:1px solid #ebebeb;
        text-indent:20px;
        text-align:center;
      }
      th{
        background:#fafafa;
        color:#999999;
        font-weight:normal;
        span{
          padding:0 12px;
        }
      }
      tr{
        &:hover{
          td{
            background:#f2f9ff;
            .btn-blue-admin{
              background:#f2f9ff;
            }
          }
        }
        td{
          .btn-blue-admin{
            display:inline;
            background:#fff;
            color:#0274d1;
            text-align:center;
            &:hover{
              background:#61aaf2;
              color:#fff;
            }
          }
        }
      }
    }
    .btn-blue{
      margin:40px 0;
    }
  }
}
.wrapper{
  .btn-blue{
    margin:40px 0 60px 0;
  }
  div.error-wrap{
    .error{
      text-align:left;
    }
  }
}
.modalPublic{
  .modal-dialog{
    width:500px;
    .modal-title{
      font-size:14px!important;
    }
  }
}
.modal-edit{
  color:#666666;
  .modal-dialog{
    .modal-content{
      .modal-body{
        min-height:auto;
        font-size:14px;
        .img-status{
          padding:5px 0 10px 0;
        }
        label{
          font-weight:normal;
          font-size:14px;
        }
        .form-control{
          height:34px;
        }
        .input-group-addon{
          border-radius:0;
          background:none;
          color:#0274d0;
          cursor:pointer;
          .txt-warning{
            display:inline-block;
            padding:0;
            border:0;
          }
          &.active{
            color:#969494;
            cursor:default;
          }
          &.img-code-addon{
            padding:0;
            img{
              width:100px;
            }
          }
          &.disabled{
            cursor:default;
          }
        }
        .btn-blue{
          width:50%;
          margin-top:20px;
          margin-bottom:-20px;
        }
        .error-status{
          .form-control,.input-group-addon{
            border:1px solid #ff0000;
          }
          .input-group-addon{
            border-left:0;
          }
        }
        .error-height{
          padding-top:0;
          padding-right:15px;
          .error{
            height:26px;
            padding:4px 10px 4px 20px;
            background:url('/images/icons/icons.png') no-repeat 0px -20px
          }
          &.more-padding-right{
            padding-right:0;
          }
        }
      }
      .color-red{
        color:#ff0000;
      }
      .padding-top-4{
        padding-top:4px;
        color:#999999;
        font-size:12px;
        text-align:left;
      }
      select.form-control{
        border-radius:0;
      }
    }
  }
}
.wrapper{
  .yzm-tips{
    width:99.6%;
    margin-top:34px;
    margin-left:1px;
  }
}